@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

body {
	width: 100vw;
	height: 100vh;
}

#heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5px 10px;
	border-bottom: 1px solid #dadce0;
}

#heading > div.portion1 {
	display: flex;
	align-items: center;
}

div.portion1 > img {
	margin: 0px 5px;
}

#heading > div.portion2 {
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
}

div.portion2 > span.shadow {
	display: flex;
	height: 100%;
	width: 55px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}

div.portion2 > span.shadow:hover {
	background: #f9f9f9;
}

div.portion2 span.container-theme {
	display: flex;
	position: absolute;
}

div.portion2 span.shadow-click {
	height: 0%;
	width: 0%;
	border-radius: 50%;
	transition: all 0.1s;
}

div.portion2 span.shadow:active span.shadow-click {
	background: #ececec;
	height: 100%;
	width: 100%;
}

.body {
	padding: 20px 30px;
	height: 85%;
}

.body > marquee {
	background: #f9f9f9;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	color: #333333;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 0px 12px 0px #484848;
	font-size: 15px;
	font-weight: 600;
}

.body > .container {
	height: 100%;
	width: 100%;
	background: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px #484848;
	margin-top: 2%;
	padding: 2%;
}

.container > .select-label {
	width: 100%;
	background: #ececec;
	padding: 10px;
	border-radius: 5px;
}

.select-label > label {
	margin-right: 10px;
}

.select-label > .select {
	display: inline-block;
	position: relative;
}

.select-label > .select::after {
	content: 'arrow_drop_down';
	font-family: 'material icons';
	position: absolute;
	font-weight: 900;
	font-size: 20px;
	right: 5px;
	top: 4px;
	color: #454545;
}

.select > select {
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #333333;
	padding: 4px 8px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	cursor: pointer;
	border-radius: 5px;
	appearance: none;
}

.select > select:hover,
.select > select:focus {
	border: 1px solid #dddddd;
}
